body{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc5bzmZdV-iQ3lEh8YmALY2rBAG0e4yc46550MSa_uG-RiYPb9);
}
nav {
	background-color: #00ccff;
	padding: 10px;
}

nav a{
	margin: 0 10px;
	padding: 5px;
	color: white;
}

.name{
	color: white;
	text-align: center;
}

.works{
	background-color: black;
	width: 300px;
	height: 500px;
	float: left;
	margin-left: 25px;
	color:	lightblue;
}

h4{
	color: white;
	text-align: center;
}

img{
	width: 400px;
	height: 500px;
	margin-left: 20px;
}


